html {
    font-size: 16px;
}

body {
    position: relative;
}

nav {
    z-index: 1;
    border-bottom: 1px solid rgb(233, 233, 233);
}

header {
    /* -- container must always have a height and width -- */
    // height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    padding: 15rem 0px;
  }

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
    /* Ensures the video doesn't spil out of container */
    overflow: hidden;
  }
  
  .bg-video__content {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .header-btn {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3rem;
    border: 2px solid #dba052;
    color: #f7f7f7;
    padding: 1.3rem 2rem;
  
    transition: all .3s;
  }


// Sticky Navigation

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.979);
    // Add Sticky Nav Animations last, from clear to solid white, click to scroll sections with jonas waypoints!
    // box-shadow: 0 5px 5px #f0f0f0;
}

// ABOUT ME
/* .number1 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
} */

// SOCIAL MEDIA ICONS
#about-me {
    padding: 6rem 0px;
    text-align: left;

   .social-icons {
       i {
           font-size: 1.5rem;
       }
   }
}

.social-info {
    color: black;
}

.icon-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
#work {
    margin-top: 10rem; 

    .work-content {
        box-shadow: 5px 1px 25px rgba(109, 109, 109, 0.1);
        width: 100%;
        font-size: 0.9375rem; 
        padding: 0px 14px;
        display: flex;
        align-items: center;
    }

    .work-icon {
        margin-right: 1rem; 
    }
}


.row-container {
    display: grid;
    gap: 1.5rem;

   
    grid-template-columns: 362.59px; 
    grid-template-rows: repeat(9, 110px);
}

@media (max-width: 1199px) {
    .row-container {
      justify-content: center; 
    }
  }

@media (min-width: 1200px) {
    .row-container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 110px);
    }
  }

  .contact-container {
      display: flex;
      justify-content: center;
  }
*/

#work-alt {
  padding: 4rem 0;
}

.section__headline {
  margin-bottom: 4rem;
  text-align: center;
}

.work-card {
  margin-bottom: 2rem;
}

.work-icon {
  margin-right: 1rem;
}

.work-card__wrapper {
  background: #fff;
  box-shadow: 5px 1px 25px rgba(109, 109, 109, 0.1);
  padding: 1.5rem 2rem;
  height: 5.625rem; //90 Pixels
  display: flex;
  flex-direction: row;
}

.work-icon {
  color: #e68455;
 }
 
// GALLERY SECTION
.gallery-container {
  height: 600px;
}

.image-wrapper {
  height: 100%;
  padding: 5px;
}

.image-wrapper--large {
  height: 600px;
}

.image-wrapper--medium {
  height: 300px;
}

.image-wrapper--small {
  height: 300px;
}

.image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
